{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
    <div class="w3-card-4">
        <header class="w3-container w3-blue">
            <h1>Django - IoT</h1>
        </header>
            <div class="w3-container">
                <div class="w3-container w3-padding-large">
                <div class="w3-card-4">
                    <h1 class="w3-center">Temperatura</h1>                     
                   		<div id='myChart'></div>
                </div>                    
                </div>
            </div>            
        <footer class="w3-container w3-blue">
            <h5>Footer</h5>
        </footer>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script  src="{% static 'js/app.js' %}"></script>
</body>
</html>